server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/wallet
    username: wallet
    password: 1234
    driver-class-name: org.postgresql.Driver


  jpa:
    hibernate:
      ddl-auto: validate
    open-in-view: false

  liquibase:
    enabled: true
    change-log: classpath:db/changelog/db.changelog-master.xml
